.jumbotron h2 {
    font-size: 110%;
}

select {
    margin-bottom: 1em;
}

.btn {
    margin: 0 0.5em 0.5em 0;
    min-width: 10em;
}

p {
    margin-bottom: 1em;
}

.options label {
    font-weight: normal;
    font-size: 90%;
    padding-left: 5px;
    padding-right: 10px;
}