<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Isaiah's Sport Store</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">SPORTS STORE</a>
        </nav>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                <partial name="_NavMenu" model="@Model" />
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
